{% extends 'header.html' %}

{% block main %}
<form method="POST" action="/admin/log" class="vh-100 d-flex flex-column align-items-center justify-content-center ">
    <div class="title m-2">
        <h4>Espace de connexion</h4>
    </div>
    <div class="p-4 border">
        <div class="form-group p-1">
            <label class="form-label">Nom d'utilisateur :</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group p-1">
            <label class="form-label">Mot de passe :</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group p-1 text-center">
            <button type="submit" class="btn btn-success ">
                Connexion
            </button>
        </div>
    </div>
</form>
{% endblock %}